Limit length of certain objects

Per RFC 5321, section 4.5.3.1.

* [x] local-part: 64 octets (4.5.3.1.1.)
* [x] domain name or number: 255 octets (4.5.3.1.2.)
* [x] forward/reverse path: 256 octets (4.5.3.1.3.)
* [x] command line (including <CRLF>): 512 octets (4.5.3.1.4.)
* [ ] text line (including <CRLF>): 1000 octets (4.5.3.1.6.)

In case these limits are exceeded, answer with reply code 500 "Line too long."